USE [master]
GO
/****** Object:  Database [normalizacion1]    Script Date: 22/07/2022 02:35:36 p. m. ******/
CREATE DATABASE [normalizacion1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'normalizacion1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\normalizacion1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'normalizacion1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\normalizacion1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [normalizacion1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [normalizacion1]
GO
/****** Object:  Table [dbo].[Aeropuerto]    Script Date: 22/07/2022 02:35:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeropuerto](
	[NombreAeropuertoID] [int] NOT NULL,
	[Name_aeropuerto] [varchar](50) NULL,
	[Distancia_KM] [varchar](50) NULL,
	[CodAeropuertoID] [int] NULL,
	[CiudadID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreAeropuertoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 22/07/2022 02:35:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[CiudadID] [int] NOT NULL,
	[Name_ciudad] [varchar](50) NULL,
	[HabCiudad_M] [int] NULL,
	[PaisID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CiudadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CodAeropuerto]    Script Date: 22/07/2022 02:35:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodAeropuerto](
	[CodAeropuertoID] [int] NOT NULL,
	[Name_codAeropuerto] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodAeropuertoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 22/07/2022 02:35:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PaisID] [int] NOT NULL,
	[Name_pais] [varchar](50) NULL,
	[HabPais_M] [int] NULL,
	[PerteneceUE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aeropuerto]  WITH CHECK ADD  CONSTRAINT [FK_ciudadAeropuerto] FOREIGN KEY([CiudadID])
REFERENCES [dbo].[Ciudad] ([CiudadID])
GO
ALTER TABLE [dbo].[Aeropuerto] CHECK CONSTRAINT [FK_ciudadAeropuerto]
GO
ALTER TABLE [dbo].[Aeropuerto]  WITH CHECK ADD  CONSTRAINT [FK_codigo] FOREIGN KEY([CodAeropuertoID])
REFERENCES [dbo].[CodAeropuerto] ([CodAeropuertoID])
GO
ALTER TABLE [dbo].[Aeropuerto] CHECK CONSTRAINT [FK_codigo]
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_pais] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Pais] ([PaisID])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [FK_pais]
GO
USE [master]
GO
